In [1]:
test_list = ["one", "two", "three", "four", "five"]
for i in test_list: 
    print(i)

one
two
three
four
five

In [2]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a: 
    print(first + last)

3
7
11

> 총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고, 
>그렇지 않으면 불합격이다. 
합격인지 불합격인지 결과를 보여 주시오

In [3]:
marks = [90, 25, 67, 45, 80] 

number = 0 
for mark in marks: 
    number = number + 1 # number 학생번호 1, 2, 3, 4, 5
    if mark >= 60: 
        print(f"{number}번 학생은 합격입니다.")
    else: 
        print(f"{number}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [5]:
add = 0 
for i in range(1, 101):
    print(i)
    add = add + i 
print(add)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
5050

In [15]:
for i in range(2, 10): 
    for j in range(1, 10): 
        print(f"{i} * {j} = {i * j}", end="  ")
    print("")

2 * 1 = 2  2 * 2 = 4  2 * 3 = 6  2 * 4 = 8  2 * 5 = 10  2 * 6 = 12  2 * 7 = 14  2 * 8 = 16  2 * 9 = 18
3 * 1 = 3  3 * 2 = 6  3 * 3 = 9  3 * 4 = 12  3 * 5 = 15  3 * 6 = 18  3 * 7 = 21  3 * 8 = 24  3 * 9 = 27
4 * 1 = 4  4 * 2 = 8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20  4 * 6 = 24  4 * 7 = 28  4 * 8 = 32  4 * 9 = 36
5 * 1 = 5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25  5 * 6 = 30  5 * 7 = 35  5 * 8 = 40  5 * 9 = 45
6 * 1 = 6  6 * 2 = 12  6 * 3 = 18  6 * 4 = 24  6 * 5 = 30  6 * 6 = 36  6 * 7 = 42  6 * 8 = 48  6 * 9 = 54
7 * 1 = 7  7 * 2 = 14  7 * 3 = 21  7 * 4 = 28  7 * 5 = 35  7 * 6 = 42  7 * 7 = 49  7 * 8 = 56  7 * 9 = 63
8 * 1 = 8  8 * 2 = 16  8 * 3 = 24  8 * 4 = 32  8 * 5 = 40  8 * 6 = 48  8 * 7 = 56  8 * 8 = 64  8 * 9 = 72
9 * 1 = 9  9 * 2 = 18  9 * 3 = 27  9 * 4 = 36  9 * 5 = 45  9 * 6 = 54  9 * 7 = 63  9 * 8 = 72  9 * 9 = 81

In [6]:
a = [1, 2, 3, 4] 
result = [] 
for num in a: 
    result.append(num * 3)

print(result)

[3, 6, 9, 12]

In [7]:
a = [1, 2, 3, 4] 
result = [num * 3 for num in a]
print(result )

[3, 6, 9, 12]

In [8]:
a = [1, 2, 3, 4] 
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [10]:
result = [x * y for x in range(2, 10) for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [5]:
# 리스트 컴프리핸션 사용하기

a = [1, 2, 3, 4]
result = []

for num in a:
    result.append(num)

# [1]
# [1, 2]
# [1, 2, 3]
# [1, 2, 3, 4]

print(result)

[1, 2, 3, 4]

In [3]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [4]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [9]:
a = [1, 2, 3, 4]
result = []

for num in a:
    if num % 2 == 0: # 짝수일 때
        # 홀수일 때 % 2 !=0: 
        result.append(num * 3)

print(result)

[6, 12]

In [10]:
result = [f"{x} * {y} = {x * y}" for x in range (2, 10) for y in range(1, 10)]
print(result)

['2 * 1 = 2', '2 * 2 = 4', '2 * 3 = 6', '2 * 4 = 8', '2 * 5 = 10', '2 * 6 = 12', '2 * 7 = 14', '2 * 8 = 16', '2 * 9 = 18', '3 * 1 = 3', '3 * 2 = 6', '3 * 3 = 9', '3 * 4 = 12', '3 * 5 = 15', '3 * 6 = 18', '3 * 7 = 21', '3 * 8 = 24', '3 * 9 = 27', '4 * 1 = 4', '4 * 2 = 8', '4 * 3 = 12', '4 * 4 = 16', '4 * 5 = 20', '4 * 6 = 24', '4 * 7 = 28', '4 * 8 = 32', '4 * 9 = 36', '5 * 1 = 5', '5 * 2 = 10', '5 * 3 = 15', '5 * 4 = 20', '5 * 5 = 25', '5 * 6 = 30', '5 * 7 = 35', '5 * 8 = 40', '5 * 9 = 45', '6 * 1 = 6', '6 * 2 = 12', '6 * 3 = 18', '6 * 4 = 24', '6 * 5 = 30', '6 * 6 = 36', '6 * 7 = 42', '6 * 8 = 48', '6 * 9 = 54', '7 * 1 = 7', '7 * 2 = 14', '7 * 3 = 21', '7 * 4 = 28', '7 * 5 = 35', '7 * 6 = 42', '7 * 7 = 49', '7 * 8 = 56', '7 * 9 = 63', '8 * 1 = 8', '8 * 2 = 16', '8 * 3 = 24', '8 * 4 = 32', '8 * 5 = 40', '8 * 6 = 48', '8 * 7 = 56', '8 * 8 = 64', '8 * 9 = 72', '9 * 1 = 9', '9 * 2 = 18', '9 * 3 = 27', '9 * 4 = 36', '9 * 5 = 45', '9 * 6 = 54', '9 * 7 = 63', '9 * 8 = 72', '9 * 9 = 81']

In [14]:
a = "Life is too short, you need python"

if "wife" in a :print("wife")
elif "python" in a :print("python")
elif "shirt" not in a :print("shirt")
elif "need" in a :print("need")
else:print("none")

python